* {
    font-family: "Open Sans", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 15px;
}

.row {
    margin: 0 -15px; /* Adjust for padding */
}

.text-container {
    display: flex;
    flex-direction: column;
    margin-right: 15px; /* Space between text and image */
}

.image-container {
    flex-shrink: 0; /* Prevent image from shrinking */
}

.profileImage {
    width: 100%;
    max-width: 250px;
    border-radius: 100%;
    margin: auto;
    display: block;
}

.text-name {
    color: #000;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.text_description {
    font-size: 1.1rem;
    margin-bottom: 1rem;
    font-weight: 330;
}

.horizontal-line {
    width: 70%; /* Set the width of the <hr> to 50% of its container */
    margin: 0 auto; /* Center the <hr> horizontally */
    border: none; /* Remove default border styling */
    border-top: 1px solid #000; /* Add a top border to create the line */
}

/* Mobile styles */
@media (max-width: 575px) {
    .text-name {
        font-size: 1.5rem; /* Adjust the font size for mobile view */
    }

    .text_description {
        font-size: 1rem; /* Adjust the font size for mobile view */
    }

    .profileImage {
        max-width: 180px; /* Adjust the size for mobile view */
    }
}

/* Tablet and small devices */
@media (min-width: 576px) and (max-width: 991px) {
    .text-name {
        font-size: 2rem; /* Adjust the font size for tablets and smaller screens */
    }

    .text_description {
        font-size: 1.2rem; /* Adjust the font size for tablets and smaller screens */
    }

    .profileImage {
        max-width: 200px; /* Adjust the size for tablets and smaller screens */
    }
}

/* Larger screens */
@media (min-width: 992px) {
    .text-name {
        font-size: 3rem;
    }

    .text_description {
        font-size: 1.45rem;
    }

    .profileImage {
        max-width: 250px; /* Default size for larger screens */
    }
}
